$height-1440: 80px;
$height-1280: 80px;
$height-768: 88px;
$height-320: 64px;

$padding-1440: 100px;
$padding-1280: 20px;
$padding-768: 20px;
$padding-320: 20px;

$container-1440: 1240px;
$container-1280: 1240px;
$container-768: 728px;
$container-320: 280px;

$columns-1440: 12;
$columns-1280: 12;
$columns-768: 8;
$columns-320: 6;

$gutter-1440: 32px;
$gutter-1280: 32px;
$gutter-768: 24px;
$gutter-320: 5px;

$color-p-black: #121212;
$color-p-white: #ffffff;
$color-p-dark-gray: #575757;
$color-p-light-gray: #dedede;
$color-s-dark: #1a1818;
$color-s-white: #fcfcfc;
$color-s-gray: #9c9c9c;
$color-accent-red: #9b4b4b;
$color-accent-gold: #ab8956;
