@import "./variables";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}

.app.dark {
  background-color: $color-p-black;
}

.app.light {
  background-color: $color-p-white;
}
