@use "../styles/variables" as *;

$card-1440: 392px;
$card-1280: 392px;
$card-768: 352px;
$card-320: 280px;

.container {
  padding: 0 $padding-320;
  max-width: $container-320;
  margin: 0 auto 50px auto;
  height: auto;
  
  @media (min-width: 768px) {
    padding: 0 $padding-768;
    max-width: $container-768;
  }

  @media (min-width: 1280px) {
    padding: 0 $padding-1280;
    max-width: $container-1280;
  }

  @media (min-width: 1440px) {
    padding: 0 $padding-1440;
    max-width: $container-1440;
  }
}


.paintings {
  display: grid;
  gap: $gutter-320;
  grid-template-columns: repeat($columns-320, 1fr);

  @media (min-width: 768px) {
    gap: $gutter-768;
    grid-template-columns: repeat($columns-768, 1fr);
  }

  @media (min-width: 1280px) {
    gap: $gutter-1280;
    grid-template-columns: repeat($columns-1280, 1fr);
  }

  @media (min-width: 1440px) {
    gap: $gutter-1440;
    grid-template-columns: repeat($columns-1440, 1fr);
  }
}

:global {
  .app.dark {
    .MuiPaginationItem-root {
      color: $color-p-light-gray !important;
      &:focus,
      &.Mui-focusVisible {
        outline: none !important;
        box-shadow: none !important;
      }
      &:hover {
        border-bottom: 1px solid $color-p-light-gray;
      }
      &.Mui-selected {
        background-color: $color-s-dark !important;
      }
      
    }
  }

  .app.light {
    .MuiPaginationItem-root {
      color: $color-p-dark-gray !important;
      &:focus,
      &.Mui-focusVisible {
        outline: none !important;
        box-shadow: none !important;
      }
      &:hover {
        border-bottom: 1px solid $color-p-dark-gray;
      }
      &.Mui-selected {
        background-color: $color-s-gray !important;
      }
      
    }
  }
}

.noMatches {
  grid-column: 1 / -1; 
  padding: 10px 20px;
  
  h1 {
    font-size: 16px;
    line-height: 140%;
    font-weight: 300;
    
    padding: 10px 0;

    span {
      font-weight: 500;
    }
  }

  p {
    line-height: 140%;
    font-weight: 300;
    font-size: 14px;
  }
}

.dark {
  h1 {
    color: $color-s-gray;

    span {
      color: $color-p-light-gray;
    }
  }
  

  p {
    color: $color-s-gray;
  }
}

.light {
  h1 {
    color: $color-p-dark-gray;

    span {
      color: $color-s-dark;
    }
  }
  

  p {
    color: $color-p-dark-gray;
  }
}